<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcs.apply.mapper.BenefitApplyMapper">
    
    <resultMap type="BenefitApply" id="BenefitApplyResult">
        <result property="tableId"    column="table_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="operatorType"    column="operator_type"    />
        <result property="liveBenefit"    column="live_benefit"    />
        <result property="travelBenefit"    column="travel_benefit"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectBenefitApplyVo">
        select table_id, student_id, operator_id, operator_type, live_benefit, travel_benefit, create_time, update_time, is_deleted from benefit_apply
    </sql>

    <select id="selectBenefitApplyList" parameterType="BenefitApply" resultMap="BenefitApplyResult">
        <include refid="selectBenefitApplyVo"/>
        <where>  
            <if test="tableId != null "> and table_id = #{tableId}</if>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="operatorId != null  and operatorId != ''"> and operator_id = #{operatorId}</if>
            <if test="operatorType != null "> and operator_type = #{operatorType}</if>
            <if test="liveBenefit != null "> and live_benefit = #{liveBenefit}</if>
            <if test="travelBenefit != null "> and travel_benefit = #{travelBenefit}</if>
        </where>
    </select>
    
    <select id="selectBenefitApplyByTableId" parameterType="Long" resultMap="BenefitApplyResult">
        <include refid="selectBenefitApplyVo"/>
        where table_id = #{tableId}
    </select>
        
    <insert id="insertBenefitApply" parameterType="BenefitApply" useGeneratedKeys="true" keyProperty="tableId">
        insert into benefit_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="operatorType != null">operator_type,</if>
            <if test="liveBenefit != null">live_benefit,</if>
            <if test="travelBenefit != null">travel_benefit,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="operatorType != null">#{operatorType},</if>
            <if test="liveBenefit != null">#{liveBenefit},</if>
            <if test="travelBenefit != null">#{travelBenefit},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateBenefitApply" parameterType="BenefitApply">
        update benefit_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="operatorType != null">operator_type = #{operatorType},</if>
            <if test="liveBenefit != null">live_benefit = #{liveBenefit},</if>
            <if test="travelBenefit != null">travel_benefit = #{travelBenefit},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where table_id = #{tableId}
    </update>

    <delete id="deleteBenefitApplyByTableId" parameterType="Long">
        delete from benefit_apply where table_id = #{tableId}
    </delete>

    <delete id="deleteBenefitApplyByTableIds" parameterType="String">
        delete from benefit_apply where table_id in 
        <foreach item="tableId" collection="array" open="(" separator="," close=")">
            #{tableId}
        </foreach>
    </delete>
</mapper>