<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcs.apply.mapper.PackApplyMapper">
    
    <resultMap type="PackApply" id="PackApplyResult">
        <result property="tableId"    column="table_id"    />
        <result property="studentId"    column="user_id"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="operatorType"    column="operator_type"    />
        <result property="packId"    column="pack_id"    />
        <result property="applyReason"    column="apply_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="nowStep"    column="now_step"    />
        <result property="applyState"    column="apply_state"    />
    </resultMap>

    <sql id="selectPackApplyVo">
        select table_id, user_id, operator_id, operator_type, pack_id, apply_reason, create_time, update_time, is_deleted, now_step, apply_state from pack_apply
    </sql>

    <select id="selectPackApplyList" parameterType="PackApply" resultMap="PackApplyResult">
        <include refid="selectPackApplyVo"/>
        <where> 1=1
            <if test="studentId != null "> and user_id = #{studentId}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
            <if test="operatorType != null "> and operator_type = #{operatorType}</if>
            <if test="packId != null "> and pack_id = #{packId}</if>
            <if test="applyReason != null  and applyReason != ''"> and apply_reason = #{applyReason}</if>
            <if test="nowStep != null "> and now_step = #{nowStep}</if>
            <if test="applyState != null "> and apply_state = #{applyState}</if>
        </where>
        ${params.dataScope}
    </select>
    
    <select id="selectPackApplyByTableId" parameterType="Long" resultMap="PackApplyResult">
        <include refid="selectPackApplyVo"/>
        where table_id = #{tableId}
    </select>
        
    <insert id="insertPackApply" parameterType="PackApply" useGeneratedKeys="true" keyProperty="tableId">
        insert into pack_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">user_id,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="operatorType != null">operator_type,</if>
            <if test="packId != null">pack_id,</if>
            <if test="applyReason != null">apply_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="nowStep != null">now_step,</if>
            <if test="applyState != null">apply_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="operatorType != null">#{operatorType},</if>
            <if test="packId != null">#{packId},</if>
            <if test="applyReason != null">#{applyReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="nowStep != null">#{nowStep},</if>
            <if test="applyState != null">#{applyState},</if>
         </trim>
    </insert>

    <update id="updatePackApply" parameterType="PackApply">
        update pack_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">user_id = #{studentId},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="operatorType != null">operator_type = #{operatorType},</if>
            <if test="packId != null">pack_id = #{packId},</if>
            <if test="applyReason != null">apply_reason = #{applyReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="nowStep != null">now_step = #{nowStep},</if>
            <if test="applyState != null">apply_state = #{applyState},</if>
        </trim>
        where table_id = #{tableId}
    </update>

    <delete id="deletePackApplyByTableId" parameterType="Long">
        delete from pack_apply where table_id = #{tableId}
    </delete>

    <delete id="deletePackApplyByTableIds" parameterType="String">
        delete from pack_apply where table_id in 
        <foreach item="tableId" collection="array" open="(" separator="," close=")">
            #{tableId}
        </foreach>
    </delete>
</mapper>
